@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<p><strong>NOTE:</strong>You need to have at least one caretaker before you can add an animal </p>
<p>Go to @Html.ActionLink("this page", "Create", "Clients") to create a new caretaker.</p>

<h4>Add a new Animal</h4>

@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.AnimalName)
  @Html.TextBoxFor(model => model.AnimalName)
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  @Html.LabelFor(model => model.AnimalBreed)
  @Html.TextBoxFor(model => model.AnimalBreed)

  @Html.LabelFor(model => model.Client)
  @Html.DropDownList("ClientId")

  <input type="submit" value="Add new anmial" class="btn btn-default" />
}

<p>@Html.ActionLink("Show all animals", "Index")</p>