@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<div class="warningMessage">
<strong>NOTE:</strong>You need to have at least one caretaker before you can add an animal. Go to @Html.ActionLink("this page", "Create", "Clients") to create a new caretaker.
</div>
<br>
<h3>Add a new Animal</h3>
<br>

@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.AnimalName)
  @Html.TextBoxFor(model => model.AnimalName)
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  @Html.LabelFor(model => model.AnimalBreed)
  @Html.TextBoxFor(model => model.AnimalBreed)

  @Html.LabelFor(model => model.Client)
  @Html.DropDownList("ClientId")

  <input type="submit" value="Add new animal" />
}
<br>
<div class="navigation">
<p>@Html.ActionLink("Show all animals", "Index")</p>
</div>