@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h3>Animal Details - @Model.AnimalName</h3>
<hr />

<p>Type of Animal : @Model.Type</p>
<p>Animal Breed: @Model.AnimalBreed</p>
<p>Admittance Date: @Model.AdmittanceDate</p>
<p>@Html.DisplayNameFor(model => model.Client): @Html.DisplayFor(model => model.Client.ClientName)</p>

<div class="navigation">
<div>@Html.ActionLink("Edit animal", "Edit", new { id = Model.AnimalId})</div>
<div>@Html.ActionLink("Delete animal", "Delete", new { id = Model.AnimalId})</div>
<div>@Html.ActionLink("Back to list", "Index")</div>
</div>