@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Client
@using AnimalShelter.Models

<h3> Caretaker Details - @Model.ClientName</h3>
<hr />

@if (@Model.Animals.Count ==  0)
{
  <h3>No animals have been added to this caretaker yet!</h3>
}
else
{
  <h3>Animals:</h3>
    <div class="animalsList">
    @foreach (Animal animal in Model.Animals)
    {
      <div class="animalsListItem">
        <h4>@Html.ActionLink($"{animal.AnimalName}", "Details", "Animals", new { id = animal.AnimalId})</h4>
      </div>
    }
  </div>
}

<div class="navigation">
<div>@Html.ActionLink("Edit this caretaker", "Edit", new { id = @Model.ClientId})</div>
<div>@Html.ActionLink("Delete caretaker", "Delete", new { id = Model.ClientId})</div>
<div>@Html.ActionLink("Back to caretaker list", "Index")</div>
</div>
